{% extends 'base.html.twig' %}

{% block title %}Hello ShowPizzaController!{% endblock %}

{% block body %}
<div class="row row-cols-1 row-cols-md-5 g-4">
  {% for pizza in pizza %}
  <div class="col">
    <div class="card text-white bg-dark m-4 h-100" style="max-width: 20rem;">
      <div class="card-header">{{pizza.name}}</div>

      <img src="{{pizza.img}}" alt="{{pizza.name}}">

      <div class="card-body">

        <p>{{pizza.descr}}</p>
      </div>

      <div class="card-footer">

        <small class="text-muted">Prix : {{pizza.price}}€
          <button type="button" class="btn btn-primary" data-bs-target="#staticBackdrop">
            <a href="{{path('show_pizza', {'id':pizza.id})}}">Détail</a></button>
        </small>
      </div>
    </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
